<div class="button-demo-container">
  <div class="button-collection-section">
    <h3 class="header">Basic</h3>
    @for (fill of buttonFills; track fill; let fillIndex = $index) {
      <div class="fill-container">
        <div class="fill-title">{{ fill | titlecase }}</div>
        <div class="btn-row">
          @for (type of buttonTypes; track type; let typeIndex = $index) {
            <ch-button
              [autofocus]="fillIndex === 0 && typeIndex === 0"
              [ariaLabel]="fill + '-' + type"
              [label]="type | titlecase"
              [type]="type"
              [fill]="fill"
              [raised]="form.isRaised"
              [shape]="form.isRound ? 'round' : 'square'"
              [disabled]="form.disabled"
              [activeStateEnabled]="!form.activeStateDisabled"
              [hoverStateEnabled]="!form.hoverStateDisabled"
              [focusStateEnabled]="!form.focusStateDisabled"
              (onClick)="handleClick()"
            ></ch-button>
          }
        </div>
      </div>
    }
  </div>

  <div class="button-collection-section">
    <h3 class="header">Icon and Label</h3>
    @for (fill of buttonFills; track fill) {
      <div class="fill-container">
        <div class="fill-title">{{ fill | titlecase }}</div>
        <div class="btn-row">
          @for (type of buttonTypes; track type) {
            <ch-button
              [ariaLabel]="'icon' + fill + '-' + type"
              [label]="type | titlecase"
              [type]="type"
              [fill]="fill"
              [raised]="form.isRaised"
              [shape]="form.isRound ? 'round' : 'square'"
              [disabled]="form.disabled"
              [activeStateEnabled]="!form.activeStateDisabled"
              [hoverStateEnabled]="!form.hoverStateDisabled"
              [focusStateEnabled]="!form.focusStateDisabled"
                            [icon]="{
                                path: icon,
                                position: form.selectedIconPosition
                            }"
              (onClick)="handleClick()"
            ></ch-button>
          }
        </div>
      </div>
    }
  </div>
  <div class="button-collection-section">
    <h3 class="header">Icon only</h3>

    @for (fill of buttonFills; track fill) {
      <div class="fill-container">
        <div class="fill-title">{{ fill | titlecase }}</div>
        <div class="btn-row">
          @for (type of buttonTypes; track type) {
            <ch-button
              [ariaLabel]="'icon-only-' + fill + '-' + type"
              [type]="type"
              [fill]="fill"
              [raised]="form.isRaised"
              [shape]="form.isRound ? 'round' : 'square'"
              [disabled]="form.disabled"
              [activeStateEnabled]="!form.activeStateDisabled"
              [focusStateEnabled]="!form.focusStateDisabled"
              [hoverStateEnabled]="!form.hoverStateDisabled"
              [icon]="{ cssClass: '', path: icon }"
              (onClick)="handleClick()"
            ></ch-button>
          }
        </div>
      </div>
    }
  </div>

  <div class="form">
    @for (item of formItems; track item) {
      <div class="form-item">
        <input [id]="item + '-form-item'" type="checkbox" [(ngModel)]="form[item[0]]" />
        <label [for]="item + '-form-item'">{{ item[1] | titlecase }}</label>
      </div>
    }

    <div class="form-item">
      <label for="icon-position-form-item">Icon Position</label>

      <select id="icon-position-form-item" [(ngModel)]="form.selectedIconPosition">
        <option value="left">Left</option>
        <option value="right">Right</option>
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
      </select>
    </div>
  </div>
</div>
